* {
  padding: 10;
  margin: 10;
  box-sizing: border-box;
}

.app-container {
  width: 70%;
  margin: auto;
}

.header {
  margin-top: 1rem;
}
.header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
}

.navbar a {
  margin-right: 2em;
}
.AppHeader {
  height: 50px;
  padding: 0px;
  margin: 20px;
}

.BoardAndLegend {
  width: 100%;
  padding-left: 64px;
  display: flex;
  gap: 32px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

table {
  border: 2px solid black;
  width: 400px;
  height: 100px;
  align-content: center;
  justify-content: center;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: blanchedalmond;
}

tr {
  text-align: center;
}

td {
  text-align: center;
}
.flex {
  display: flex;
}

.flexCol
{
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.logo
{
  width: 50%;
}


.align-center
{
  text-align: center;
}
.logo {
  width: 50%;
}
