* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-container {
  width: 90%;
  margin: auto;
}

.header {
  margin-top: 2rem;
  height: 50px;
  padding: 5px;
  margin: 10px;
}

.chess-board {
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity-legend {
  display: flex;
  align-items: center;
  justify-content: center;
}
